snippet jesttemplate "jest template"
// @flow

declare var describe: any;
declare var test: any;

describe('$1', () => {
	$0
});
endsnippet

snippet jestDescribe "jest describe template"
describe('$1', () => {
	$0
});
endsnippet

snippet jestTest "jest test template"
test('$1', () => {
	$0
});
endsnippet
